

/* test */
:root{
  --bk:#313131;
  --gr:#6B6B6B;
  --bl:#40A2D5;
}




/* HEADER */
header {
}
header .inner {
  width: 1170px; 
  height: 38px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
header .logo {
  color: var(--bl);
  font-weight: 600;
  font-size: 25px;
}

header .menu {}
header .menu ul {
  height: 56px;
  display: flex;
  align-items: center;
  
}
header .menu li {
  color: #fff;
  margin: 0 35px 0 0;
  z-index: 10;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
header .menu li p {opacity: 0; transition: all 0.3s;}
header .menu li:last-child {margin-right: 0;}
header .menu li:hover {font-weight: bold; }
header .menu li:hover p {opacity: 1; }
                                            /* hover주고 bold됐을때 덜그럭 안거리게 width값 안주고 어떻게 하더랍 */
                                            /* hover하면 밑에 점 생기게 어떻게 하지? */
header .menu li a {}





/* VISUAL */
.visual {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: -60px;
}
.visual .visual-info {
  margin: 0 0 90px 20px;
}
.visual .visual-info .visual-text{}
.visual .visual-info .visual-text h1{
  font-size: 64px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -4px;
  margin-top: 175px;
}
.visual .visual-info .visual-text h1 span{
  color: var(--bl);
}
.visual .visual-info .visual-text .tit-txt{
  margin: 40px 0;
  text-align: left;
  font-size: 18px;
}
.visual .visual-info .visual-text .buttons{}
.visual .visual-info .visual-num {
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.visual .visual-info .visual-num .num {
  position: relative;
}
.visual .visual-info .visual-num .num .img {
  position: absolute;
  top: -20px;
  z-index: -1;
}
.visual .visual-info .visual-num .num .txt {
  font-size: 20px;
  color: var(--gr);
}
.visual .visual-info .visual-num .num .txt span {
  font-size: 40px;
  color: var(--bk);
  font-weight: 500;
}
.visual .visual-img {}



body {position: relative;}

.back-img {
  width: 1440px; height: 1050px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  z-index: -1;
}
.back-img .rectangle-01 {
  position: absolute;
  right: 600px;
}
.back-img .rectangle-02 {
  position: absolute;
  right: 120px;
  bottom: 200px;
}    
.back-img .rectangle-02 img {transform: rotate(180deg);}
.back-img .vector {
  position: absolute;
  bottom: 0;
}




















/* LOGOs */
.logos {
  background-color: #fafafa;
  width: 1170px;
  height: 180px;
  border-radius: 150px;
  margin: 175px auto;
}
.logos .logo-box {
  width: 1006px;
  height: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos .logo-box p {}
.logos .logo-box p img {}





/* CHOOSE US */
.choose-us {
  width: 1150px;
  margin: 0 auto;
}
.choose-us .ch-box1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 116px;
}
.choose-us .ch-box1 .box1-txt-btn {margin-left: 20px;}
.choose-us .ch-box1 .box1-txt-btn .txt {
  margin: 30px 0;
  color: var(--gr);
}
.choose-us .ch-box1 .box1-txt-only {}
.choose-us .ch-box1 .box1-txt-only p {
  font-size: 54px;
  font-weight: 500;
  line-height: 120%;
}

.choose-us .ch-box2 {
  display: flex;
  justify-content: space-between;
}
.choose-us .ch-box2 .box2-img{}
.choose-us .ch-box2 .box2-img img{}
.choose-us .ch-box2 .box2-text{
  margin-top: 210px;
}
.choose-us .ch-box2 .box2-text .text{
  display: flex;
  margin-bottom: 135px;
}
.choose-us .ch-box2 .box2-text .text03 {margin-bottom: 0px;}
.choose-us .ch-box2 .box2-text .text .pic-txt{margin-right: 30px;  width: 102px;}
.choose-us .ch-box2 .box2-text .text .pic-txt .txt{
  font-size: 72px;
  font-weight: 600;
  float: left;
  position: relative;
  top: -0px; 
  margin-left: 25px;
}
.choose-us .ch-box2 .box2-text .text .pic-txt .box{
  width: 76px; height: 76px;
  border-radius: 5px 38px;
  font-size: 0;
}
.choose-us .ch-box2 .box2-text .text01 .pic-txt .box {background-color: #40A2D5;}
.choose-us .ch-box2 .box2-text .text02 .pic-txt .box {background-color: rgba(254, 132, 50, 0.52);}
.choose-us .ch-box2 .box2-text .text03 .pic-txt .box {background-color: #b5e4a5;}
.choose-us .ch-box2 .box2-text .text .text-only{
  line-height: 28px;
}




/* OUR BEST ENGINEERS */
.our-best-engineers {
  width: 1170px; height: 800px;
  margin: 140px auto;
  display: flex;
  flex-direction: column;
}
.our-best-engineers .our-title {
  text-align: center;
}
.our-best-engineers .our-card {
  position: relative;
}
.our-best-engineers .our-card .cards {
  display: flex;
  justify-content: space-between;
  margin: 78px 0;
}
.our-best-engineers .our-card .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; height: 376px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 30px;
  
}
.our-best-engineers .our-card .cards .card01 {}
.our-best-engineers .our-card .cards .card02 {}
.our-best-engineers .our-card .cards .card03 {}
.our-best-engineers .our-card .cards .card .top {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.our-best-engineers .our-card .cards .card .top .star {}
.our-best-engineers .our-card .cards .card .top .more {}
.our-best-engineers .our-card .cards .card .mid {
  margin: 15px 0 40px;
}
.our-best-engineers .our-card .cards .card .mid .mid-img {
  margin-bottom: 22px;
}
.our-best-engineers .our-card .cards .card .mid .mid-info {
}
.our-best-engineers .our-card .cards .card .mid .mid-info .name {
  font-size: 24px;
}
.our-best-engineers .our-card .cards .card .mid .mid-info .address {
  font-size: 12px;
  color: #6B6B6B; 
}
                                 /* 여기 두개 왜 css안먹힐까..? 따흐흑 */
.our-best-engineers .our-card .cards .card .btm {text-align: center;}
.our-best-engineers .our-card .cards .card .btm .phone {color: var(--gr);}
.our-best-engineers .our-card .cards .card .btm .email {color: var(--bl); font-size: 17px;}

.our-best-engineers .our-card .card-button {
  display: flex;
  width: 120px; height: 66px;
  border-radius: 65px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.our-best-engineers .our-card .card-button p {
  width: 50px; height: 50px;
  border-radius: 40px;
  text-align: center;
  margin: 9px;
  transition: all 0.15s;
}
.our-best-engineers .our-card .card-button p:hover {
  background-color: var(--bl);
  color: #fafafa;
}
.our-best-engineers .our-card .card-button .prev {
  margin-right: 0;
}
.our-best-engineers .our-card .card-button .prev .prev-btn {
  transform: scaleX(-1);
  margin-top: 13px;
}
.our-best-engineers .our-card .card-button .next {
  margin-left: 0;
}
.our-best-engineers .our-card .card-button .next .next-btn{margin-top: 13px;}







/* MESSAGE FROM CEO */
.message-from-ceo {
  width: 100%; height: 939px;
  background: url(../img/Rectangle4307.png) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.message-cover {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.message-from-ceo .message-img {}
.message-from-ceo .message-img01 {
  margin-top: 195px;
}
.message-from-ceo .message-img02 {
  margin-bottom: 195px; 
  transform: rotate(180deg);
}
.message-from-ceo .message-img img {}
.message-from-ceo .message-box {
  width: 857px;
  margin: 237px auto;
  color: #fafafa;
}
.message-from-ceo .message-box .tit {font-weight: 500;}
.message-from-ceo .message-box .tit-txt {
  color: #fafafa;
  text-align: left;
  margin-top: 40px;
  font-size: 18px;
}








/* CONTACT US */
.contact-us {
  width: 1170px; height: 777;
  margin: 140px auto 0;
}
.contact-us .contact-title {
  text-align: center;
  margin-bottom: 85px;
}
.contact-us .contact-detail {
  display: flex;
}
.contact-us .contact-detail .detail-box1 {}
.contact-us .contact-detail .detail-box1 .contact_list {}
.contact-us .contact-detail .detail-box1 .contact_list .list {}
.contact-us .contact-detail .detail-box1 .contact_list .list .name-tit {
  width: 40px;
  background-color: #fff;
  font-size: 10px;
  color: var(--gr);
  position: relative;
  top: 15px; left: 18px;
  text-align: center;
}
.contact-us .contact-detail .detail-box1 .contact_list .list input {
  color: var(--gr);
  border-radius: 7px;
  display: block;
  margin-bottom: 20px;
  width: 439px; height: 64px;
  padding: 0 25px;
  border: 0;
  outline: none;
  background-color:#f9f9f9;
  color: var(--gr);
  font-size: 18px;
  font-weight: 400;
}
.contact-us .contact-detail .detail-box1 .contact_list .list .list-name {
  background-color: #fff;
  border: 1px solid #f9f9f9;
  color: var(--bk);
}             /* 왜 first-child 안먹히지? */
.contact-us .contact-detail .detail-box1 .contact_list .list input:last-child {
  height: 200px;
  margin-bottom: 30px ;
}
.contact-us .contact-detail .detail-box2 {
  margin-top: 25px;
  margin-left: -30px;
}
.contact-us .contact-detail .detail-box2 img {}







/* LATTEST BLOGS */
.lattest-blogs {
  width: 1170px;
  margin: 20px auto 0;
}
.lattest-blogs .blog-title {
  margin-bottom: 80px;
}
.lattest-blogs .blog-card {
  height: 467px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr
}
.lattest-blogs .blog-card .card {
  width: 496px; height: 467px;
  border-radius: 20px;
  margin-bottom: 60px;
  position: relative;
}
.lattest-blogs .blog-card .card01 {background-image: url(../img/Img-2.png);}
.lattest-blogs .blog-card .card02 {background-image: url(../img/Img-2\ \(1\).png);}
.lattest-blogs .blog-card .card03 {background-image: url(../img/Img-2.png);}
.lattest-blogs .blog-card .card04 {background-image: url(../img/Img-2\ \(1\).png);}
.lattest-blogs .blog-card .card05 {background-image: url(../img/Img-2.png); margin-bottom: 0;}
.lattest-blogs .blog-card .card06 {background-image: url(../img/Img-2\ \(1\).png); margin-bottom: 0;}
.lattest-blogs .blog-card .card .card-text {
  width: 400px;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.lattest-blogs .blog-card .card02 .card-text {bottom: 150px;}
.lattest-blogs .blog-card .card04 .card-text {bottom: 150px;}
.lattest-blogs .blog-card .card06 .card-text {bottom: 150px;}
.lattest-blogs .blog-card .card .card-text .cart-tit {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 22px;
}
.lattest-blogs .blog-card .card .card-text .cart-txt {
  font-size: 16px;
}
.lattest-blogs .blog-card .card .card-btn {}
.lattest-blogs .blog-card .card .card-btn .btn-wh{
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
}






/* SUBSCRIBE TO OUR NEWSLETTER */
.subscribe {
  width: 1170px;
  margin: 140px auto;
  position: relative;
}
.subscribe .sub-title {}
.subscribe .sub-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}







/* FOOTER */
footer {
  width: 1170px;
  margin: 0 auto;
}
footer .footer-in {
  display: flex;
  justify-content: space-between;
}
footer .footer-in .footer-info{}
footer .footer-in .footer-info .info-tit {
  margin-bottom: 40px;
  font-weight: bold;
}
footer .footer-in .footer-info .info-txt {
  font-size: 16px;
  color: var(--gr);
}
footer .footer-in .footer-info .info-txt li {margin-bottom: 18px;}

footer .footer-in .info-01 .info-tit {
  color: var(--bl);
  font-size: 25px;
  font-weight: 600;
  letter-spacing:-1.2px;
}                   /* letter-spacing %가 왜 안먹히지? */
footer .footer-in .info-01 .info-img {
  display: flex;
}
footer .footer-in .info-01 .info-img p {
  margin-right: 16px;
  margin-top: 40px;
}
footer .footer-in .info-04 .info-search {
  position: relative;
}
footer .footer-in .info-04 .info-search input {
  width: 162px; height: 40px;
  background-color: #fafafa;
  border: 0;
  border-radius: 4px;
  color: var(--gr);
  font-size: 10px;
  padding: 0 12px;
  outline: none;
}
footer .footer-in .info-04 .info-search p {
  height: 40px;
  position: absolute;
  top: 0; 
  right: 0;
  display: flex;
  align-items: center;
}
footer .footer-in .info-04 .info-search p a {padding: 12px}

footer .copyright {
  width: 1170px;
  border-top: 1px solid #f4f4f4;
  text-align: center;
  padding: 40px 0;
  color: #c2c2c2;
  font-size: 14px ;
}


